* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

/* ::-webkit-scrollbar { */
/*     width: 0;  /1* Remove scrollbar space *1/ */
/*     background: transparent;  /1* Optional: just make scrollbar invisible *1/ */
/* } */


.experience,
#scroll-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#scroll-container {
  overflow-y: scroll;
  z-index: 1;
}



#scroll-container .scroll {
  height: 200vh;
  width: 100%;
}

#scroll-container .intro {
  font-size: 36px;
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h1,
p {
  color: white;
}

#contact {
  position: fixed;
  bottom: 240px;
  right: -140px;
  z-index: 4;
  transform: rotate(270deg);
}

@media(max-width: 768px) {
  #contact {
    display: none;

  }
}

#contact a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
